/* BASE */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* LAYOUT - Each one is its own row */
nav,
#Intro,
#Proj,
#Skills,
#Contact {
	/* border: red solid 1px; */
	display: flex;
}

/* headings */
h1,
h2 {
	color: #68a8f2;
}

/* NAV - styling */
nav {
	display: flex;
	justify-content: flex-end;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
}

nav #links a {
	text-decoration: none;
	padding: 6.5rem;
	font-size: 1.5rem;
	font-family: monospace;
	color: black;
}



/* ROW - v1 */
#Intro,
#Skills {
	background-color: #00234A;
	color: white;
}

/* ROW - v2 */
#Proj,
#Contact {
	background-color: #394551;
	color: white;
}


/* INTRO - syling */

#Intro {
    padding-top: 6rem;
    padding-bottom: 6rem;
}