/* * {
	border: red solid 1px;
} */


/* BASE */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* LAYOUT - Each one is its own row */
nav,
#Intro,
#Proj,
#Skills,
#Contact {
	/* border: red solid 1px; */
	display: flex;
}

/* headings */


/* NAV - styling */
nav {
	display: flex;
	justify-content: flex-end;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	transition: .5s;
}

nav #links a {
	text-decoration: none;
	padding: 6.5rem;
	font-size: 1.5rem;
	font-family: monospace;
	color: black;
	transition: .5s;
}

#toggle {
	position: relative;
	display: block;
	width: 4rem;
	height: 2rem;
	border-radius: 2rem;
	background: rgb(101, 101, 101);
	transition: .5s;
	cursor: pointer;
}

#toggle .indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	background: linear-gradient(to bottom, #444, #222);
	border-radius: 50%;
	transition: .5s;
	transform: scale(.9);

}

/* DARK mode */
#toggle.active .indicator {
	left: 2rem;
	background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
}

nav.active {
	background-color: black;
}

nav #links.active a {
	color: white;
}


/* ROW - v1 color */
#Intro {
	background-color: #00234A;
	color: white;
}

/* ROW - v2 color */

#Contact,
#Proj {
	background-color: #394551;
	color: white;
}


/* INTRO - syling */

#Intro {
    padding-top: 6rem;
	transition: .5s;
	
}

#Intro  .content{
	display: flex;
    position: relative;
    left: 8rem;
}

.white {
	color: white;
}

#Intro .content .title h1 {
    font-size: 5rem;
}

#Intro .content .title h2 {
    font-size: 3rem;
}

#Intro .content .about-me {
    position: relative;
    left: 15rem;
    bottom: 3rem;

}

#Intro .content .about-me .title,
#Intro .content .about-me p {
	text-align: center;
}

#Intro .content .about-me p{
	font-size: 1.5rem;
}

#Intro .content .about-me .title {
	font-size: 2.5rem;
}

#Intro .content .title h2 {
	color: #68a8f2;
}

/* DARK MODE - intro */

#Intro.active {
	background-color: #00162e;
}

/* PROJ - styling */
#Proj {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    flex-direction: column;
    align-items: center;
	transition: .5s;
	
}

#Proj h2 {
	font-size: 3rem;
}

#Proj .Proj-container .Project {
    display: flex;
    background-color: white;
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	/* box-shadow: .6rem .5rem .5rem #959494; */
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
	padding: 1rem;
	transition: .5s;
}

#Proj .Proj-container .Project .text .p1{
	font-size: 2.2rem;
}

#Proj .Proj-container .Project .text .p1 span,
#Proj .Proj-container .Project .text .p2 span,
#Proj .Proj-container .Project .text .p3 span {
	font-size: 1.6rem;
	color: #0077ff;
}

#Proj .Proj-container .Project .text p {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

#Proj .Proj-container .Project .text .p3 a{
	text-decoration: none;
	color: #68a8f2;
	background-color: #00234A;
	border: #00234A solid .1rem;
	padding: .7rem;
	border-radius: .7rem;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

#Proj .Proj-container .Project .Proj-img {
	margin-left: 1rem;
	width: auto;
	height: 20rem;
}

#Proj .Proj-container .Project .Proj-img img {
	max-width: 100%;
	max-height: 100%;
}

/* DARK mode for Proj */
#Proj .Proj-container.active .Project {
	color: white;
	background-color: black;
	box-shadow: 0 4px 8px 0 rgb(0 0 0), 0 6px 20px 0 rgb(118 118 118);
}

#Proj.active {
	background-color: #13161a;
}

/* SKILLS - styling */

#Skills {
	align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
	flex-direction: column;
	transition: .5s;
}

#Skills h2 {
	font-size: 3rem;
	transition: .5s;
}

#Skills .Card-container {
	margin-top: 1.5rem;
	margin-top: 1.5rem;
    display: flex;
    /* justify-content: space-evenly; */
}

#Skills .Card-container .Card {
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
	transition: .5s;
}

#Skills .Card-container .Card .Skills-img img {
	max-width: 100%;
	max-height: 100%;
}
#Skills .Card-container .Card .Skills-img {
    width: 15rem;
    height: auto;
    display: flex;
    justify-content: center;
}

#Skills .Card-container .Card .Skills-text p {
    text-align: center;
    font-size: 2.2rem;
    margin-top: .5rem;
	transition: .5s;
}

/* DARK MODE - skills */

#Skills.active {
	background-color: #1e2c3e;
}

#Skills.active h2 {
	color: white;
}

#Skills.active .Card-container .Card {
	background-color: #394551;
}

#Skills.active .Card-container .Card .Skills-text p {
	color: white;
}

/* CONTACT - styling */
#Contact {
	padding-top: 1.2rem;
    padding-bottom: 1.2rem;
	flex-direction: column;
	align-items: center;
	transition: .5s;
}

#Contact h2 {
	font-size: 2rem;
}

#Contact p {
	font-size: 1.3rem;
}

/* DARK MODE - contact */
#Contact.active {
	background-color: #13161a;
}



/* RESPONSIVE DESIGN */

/* Less than 1738px
@media only screen and (max-width: 1738px) {

} */